.productosConTodo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: 100px 0;
  padding: 0rem 2rem;
  gap: 2rem;  
  .selector {
    padding: .5rem 0;
    width: 300px;
    & > div {
      & > div:first-of-type {

        & > svg {

          cursor: pointer !important;
        }
      }
    }
    & > div:first-of-type {
      display: flex;
      flex-direction: column;    
      gap: .3rem;   
      border-bottom: 1px solid var(--c-gris-1);
      padding-bottom: 1rem;

      
      }
    & > div:nth-of-type(2) {
      border-bottom: 1px solid var(--c-gris-1);
      gap: 1rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: 700;
      padding-bottom: 1rem;

      & > div:nth-of-type(3) {
        position: relative;
        background-color: var(--c-negro);
        border-radius: 5px;
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & > div:first-of-type {
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
        
        }
        & > div:nth-of-type(2) {
          position: absolute;

          right: 0;
          width: 15px;
          height: 15px;
          background-color: white;
          border: 1px solid black;
          border-radius: 50%;
        }
      }
    }
  }
  & > #select-options {
    position: absolute;
    right: 2rem;
    top: 8rem
  }
  
}

.flechaBajo {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
} 

.opcion-selector {
  min-width: 13vw;
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  gap: .2rem;
  
}

.closeSelector {
  height: 1.5rem;
  overflow: hidden;
  
}

.productosContenedor {
  text-align: center;
  min-height: 80vh;
  margin: 2rem 1rem;
  width: 800px;
}

.productos {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(250px, 1fr));
  justify-content: flex-start;
  padding: 1rem 0;
  & > div {
    position: relative;
    & > div:nth-of-type(1) {
      background-color: var(--c-rojo-light);
      left: 10px;
      position: absolute;
      top: 10px;
      border-radius: .5rem;
      color:var(--c-blanco-suave);
      padding: .25rem .5rem;
      font-weight: 500;
    }
  }
}

.productos a:hover {
  text-decoration: none;
}
.productos > div > a > img {
  width: 100%;
  object-fit: cover;
}

.textoProductos {
  text-align: left;
  padding: 1rem 0;
  & > div {
    display: flex;
    justify-content: space-between;
    & > p:nth-of-type(2) {
      background: linear-gradient(5deg, var(--c-negro) 25%, transparent 25%, transparent 58%, var(--c-negro) 60%, var(--c-negro) 62%, transparent 63%, transparent);
      background-size: 100% 150%;  
    }
  }
}

.toggleSelectorButton {
  display: none
}

@media (max-width: 1050px) {
  .selector.selectorDead {
    display: none;
  }
  .selector.selectorLive {
    display: flex;
    position: fixed;
    z-index: 999;
    background-color: var(--c-blanco-suave);
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    .closeSelector, .openSelector {
      width: 100%;
      padding: 0 3rem;
      
    }
  }
  .toggleSelectorButton {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 5rem;
    border: none;
    padding: .5rem;
    background-color: var(--c-blanco-suave);
  }
}

@media (max-width: 915px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(31.8%, 31.8%));
    
  }
}

@media (max-width: 809px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(48.6%, 48.6%));
    
  }
}

@media (max-width: 750px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(48%, 48%));
    
  }

  .toggleSelectorButton {
    top: 1.5rem;
  }

  .productosConTodo > #select-options {
    top: 4.5rem;
  }
}

@media (max-width: 650px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(48%));
    
  }
}

@media (max-width: 550px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
    
  }
}
