.perfil {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  & > h3 {
    padding: 2rem 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > div {
      display: flex;
      gap: 1rem;
      & > label {
        width: 12.5rem;
        font-weight: 500;
      }
    }
    & > button:first-of-type {
      background-color: var(--c-rojo);
      border-radius: 1rem;
      padding: .5rem;
      border: none;
      color: var(--c-blanco-suave);
      font-weight: 500;
        &:hover {   
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05)
        }
      }
  }
}

#mi-cuenta-page {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  & > ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    & > li  button {
      padding: .5rem 1rem;        
      border-radius: .5rem .5rem 0% 0%;
      border: none;
      }    
  }
}

.opcion-pedido-seleccionado {
  background-color: var(--c-rojo);
}