.card-datos {
  background-color: var(--c-gris-1);
  color: var(--c-blanco);
  border-radius: .2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem
}

#dashboard {
  width: calc(100% - 200px);
  min-height: 100vh;
  display: flex;
  padding: 100px 50px;
}