:root {
  --c-negro: black;
  --c-naranja: orange;
  --c-rojo: red;
  --c-rojo-boton: #E2211C;
  --c-celeste: skyblue;
  --c-azul: blue;
  --c-amarillo: yellow;
  --c-green: green;
  --c-mainHigh: #1d1d1d;
  --c-mainMedium: #313131;
  --c-mainLow: #404040;
  --c-dorado: #efb810;
  --c-Paypal: #ffc439;
  --c-gris-1: #bdbdbd;
  --c-blanco: white;
  --c-blanco-suave: #F7F7F7;
  --c-naranja1: #fda085;
  --c-dorado-fino: #dd9933;
  --gradiente1: linear-gradient(to right, #f6d365, #fda085);
  --family-like: 'Montserrat'
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
}

p {
  padding: 0; 
  margin: 0
}

/*Nav*/
#nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--c-blanco-suave);
  border-bottom: 1px solid var(--c-blanco-suave)
}

a {
  text-decoration: none;
  color: var(--c-mainHigh);
  &:hover {  
  text-decoration: underline;
  color: var(--c-mainHigh);
  }
}

#nav > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: var(--c-blanco);
  gap:1rem;
  margin: 0;
  width: 100%;
  & > li:nth-of-type(2) > ul {
      list-style-type: none;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      & > li > a {
      text-decoration: none;
      padding: .2rem 0;
      &:hover {  
        border-bottom: .1rem solid var(--c-dorado-fino);
      }
    }
  }
  & > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .65rem;
    & li {
      padding: .5rem;
      border-right: 1px solid var(--c-blanco-suave);      
    }
  }
}

#miCuenta {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-left: 1px solid var(--c-blanco-suave);
  position: relative;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
}

#miPerfil {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: .5rem;
  border-left: 1px solid var(--c-blanco-suave);
  border-right: 1px solid var(--c-blanco-suave); 
}

.iconMiCuenta {
  font-size: 2rem;
  width: 100%; 
  fill: var(--c-gris-1);
 }

#homepage {
  width: 100%;
}

.is-active {
  pointer-events: none;
  color: var(--c-dorado-fino)
}

/*Carrusel*/

.w-100 {
  object-fit: contain;
}

/*Newsletter*/
#newsletterContenedor {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--c-gris-1);
  justify-content: center;
  align-items: center;
  #newsletter {
    padding: 1rem 2rem;
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c-gris-1);
    & > form {
        .newsletter1 {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: flex-end;
          & label {
            font-style: italic;
            font-weight: 600;
          }
        }

        .newsletter2 {
          display: flex;
          gap: 0.5rem;
          margin-top: 1rem;
          align-items: center;
        }

        & div {
          & button {
            height: 40px;
            padding: 0 1.5rem;
            border-radius: 1rem;
            background-color: var(--c-mainHigh);
            color: var(--c-blanco-suave);
            font-weight: 500;
          }

          & div {
            display: flex;
            flex-direction: column;
            & input {
              border: 1px solid black;
              border-radius: .2rem;
              padding: 0.2rem 0.5rem;
              
            }
          }

        }
      }
  }
}

.negrita {
  font-weight: 700;
}

.subrayado {
  text-decoration: underline
}
/*Carrito*/

/*secuenciaCompra*/

#secuenciaCompra {
  padding: 1rem 0;
  background-color: var(--c-blanco-suave);
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: flex-start;
  color: var(--c-gris-1);
  font-size: 2rem;
}

.hrCompra {
  height: 0.175rem;
  width: 150px;
  border: 0;
  background-color: var(--c-gris-1);
}

.pasoCompra.barraSelected {
  opacity: 1;
  color: var(--c-rojo-boton);

  .hrCompra {
    color: var(--c-blanco-suave);
    background-color: red;
    opacity: 1;
  }

  .compraDescripcion {
    color: var(--c-mainHigh);
    font-weight: 500;
  } 
 
}

.pasoCompra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compraDescripcion {
  width: 150px;
  font-size: 1rem;
  
}

/*Carrito-detalles*/

#encabezadoCarrito {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  font-size: 1rem;

  & div {
    display: flex;
    justify-content: center;
    align-items: center; 
    & h5 {
    margin: 0
    }
  }
}

#regresarComprar {
  padding: 0 2.5rem;
  background-color: var(--c-mainHigh);
  display: flex;
  justify-content: center;
  align-items: center;
  
  & a {
  color: var(--c-blanco);
  font-weight: 900;
 
    & svg {
      font-size: 2rem;
      
    }
  }
}

#carrito {
  background-color: var(--c-blanco-suave);
  width: 100%;
  height: auto;
  min-height: 100vh;
}

#carritoVacio {
  background-color: var(--c-blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
  width: 40rem;
}

.buttonCarrito {
  margin: 2rem auto;
  padding: .5rem 4rem;
  background-color: var(--c-rojo-boton);
  color: var(--c-blanco);
  border-radius: .2rem;
  
  &:hover {
  text-decoration: none;
  background-color: var(--c-dorado);
  }
}

#paypalButton {
  margin: 2rem auto;
  padding: .5rem 4rem;
  cursor: pointer;
  background-color: var(--c-Paypal);
  color: var(--c-blanco);
  border-radius: .2rem;
}
#paypalButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05)
}

.imagenProductoCarrito {
  height: 150px;
  object-fit: contain;
  
}

.productoCarrito > td:first-of-type {
  font-weight: 500;
  width: 300px;
  & p:nth-of-type(2){
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

#contenedorProductosCarrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 1.5rem;
  
}

th {
  text-align: center;
  background-color: var(--c-blanco);
  padding: 1rem 3rem;
}

td {
  background-color: var(--c-blanco);
  text-align: center;
  padding: 0.5rem 3rem;
  border-bottom: 1px solid var(--c-blanco-suave)
}

.productoCarrito > td > button {
  border: none;
  background-color: var(--c-blanco);
  text-decoration: underline;
}

.precioProductoCarrito {
  color: var(--c-rojo-boton);
  font-weight: 500;
}

.cantidadProductoCarrito {
  color: var(--c-mainHigh);
  font-weight: 500;
}

#resumenCompra {
  background-color: var(--c-blanco);
  padding: 1rem;
  color: var(--c-mainHigh);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

#resumenCompra > #resumenTitulo {
  border-top: solid 1px var(--c-mainHigh);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  width: 100%
}

#resumenCompra > #total {
  border-bottom: solid 1px var(--c-mainHigh);
  font-weight: 100;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#totalCompra {
  color: var(--c-mainHigh);
  font-size: 1.2rem;
  font-weight: 500;

}

/*Informacion*/

#informacion {
  display: flex;
  background-color: var(--c-blanco-suave);
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  & div:last-of-type > h5 {
    text-align: center;
  }
  & div {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & h5 {
      font-weight: 700;
    }

    & ul {
      list-style-type: none;
      padding: 0;
      font-family: var(--family-like);
    }

    & div {
      display:flex;
      flex-direction: row;
      gap: .5rem;
      & svg {
        font-size: 2rem;
      }      
    }
  }
  
}

/*Contacto*/
#contactoContenedor {
  background-color: var(--c-blanco-suave);
  width: 100%;
  
}

#contacto {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--family-like);
  & > h4 {
    font-weight: 1000;
  }
}

.contacto1 {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.contactoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  & svg {
    font-size: 1.5rem;
  }
}

#metodosPago {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: var(--c-blanco-suave);
}

.hr {
  background-image: linear-gradient(to right, transparent, var(--c-gris-1),transparent);
  height: 0.175rem;
  border: 0;
}

.divHr {
  background-color: var(--c-blanco-suave);
  width: 100%;
}

/*puchi puchi*/
footer {
  background-color: var(--c-mainHigh);
  width: 100%;
  padding: 1rem 0;
  color: var(--c-blanco);
  text-align: center;
  font-family: var(--family-like);
}

/*Modal mi cuenta*/

.modelo {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modelo-content {
  background-color: var(--c-blanco);
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: var(--c-mainHigh);
  float: right;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  padding-right: .5rem;
  right: 0;
  top: 0;
}

.close:hover, .close:focus {
  color: var(--c-mainHigh);
  text-decoration: none;
  cursor: pointer;
}

/*ingresar*/

#ingresar {
  display: flex;
  flex-direction: column;
  background-color: var(--c-blanco);
  border-radius: .2rem;
  position: absolute;
  top: 4rem;
  right: -2.5rem;
  padding: 1rem;
  gap: 1rem;  
  z-index: 10;
  box-shadow: 1px 1px 5px 1px var(--c-gris-1);
  font-size: 1rem;
}

#ingresar > button, #ingresar > a {
  border: 1px solid var(--c-mainHigh);
  padding: .15rem 1.5rem;
  border-radius: .2rem;
  background-color: var(--c-mainHigh);
  color: var(--c-blanco);
  width: 100%;
}

#ingresar > button:hover{
  text-decoration: underline;
}

/*Registro*/

#registro {
  min-height: 85vh;
}

#registro > h1 {
  margin: 5rem auto;
}

#registro > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

#registro > form > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


/*Login*/

#login {
  width: 300px;
}

#login, #loginEmail, #loginContrasena {
  display: flex;
  flex-direction: column;
}

#loginEmail > input, #loginContrasena > input {
  border-radius: .2rem;
  border: 1px solid var(--c-mainHigh);
  padding: .2rem
}

#login > button {
  margin: 1rem auto;
  padding: .25rem 2rem;
  border-radius: 1rem;
  
}

/*Productos*/
/*Productos-Datos*/

.productosConTodo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1350px;
  padding: 0 2rem;
  .selector {
    padding: .5rem 0;
    border-bottom: 1px solid var(--c-gris-1);
    &>div {
      display: flex;
      flex-direction: column;    
      gap: .3rem;              
    }
  }
  
}

.flechaBajo {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
} 

.opcion-selector {
  min-width: 13vw;
  font-size: .9rem;
  display: flex;
  flex-direction: row;
  gap: .2rem
}

.closeSelector {
  height: 1.5rem;
  overflow: hidden;
  
}

.productosContenedor {
  text-align: center;
  min-height: 80vh;
  width: 100%;
  margin: 0 1rem;
  
}

.productos {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(32%, 32%));
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0;
}

.productos a:hover {
  text-decoration: none;
}
.productos > div > a > img {
  width: 100%;
  object-fit: cover;
}

.textoProductos {
  text-align: left;
  padding: 1rem 0;
}

/*Detalles - Productos*/

.detalles {
  display: flex;
  width: 100%;
  & div {
    padding: 2rem;
    &:first-of-type {
      flex: 6;
      display: flex;
      align-items: flex-start;
      justify-content: center;     
      }
      & img {
        margin: 0 auto;
        width: 25rem;
        object-fit: contain;
        }      
    
    &:nth-of-type(2) {
      flex: 4;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h4:first-of-type {
        font-weight: 400;
      }

      & p {        
        &:nth-of-type(2), &:nth-of-type(3) {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid var(--c-gris-1);
          & span {
            font-size: 1.25rem;
          }
        }
      }
      & img {
        width: 100%;
      }
      & label, p:nth-of-type(3), p:nth-of-type(2) {
        font-weight: 500;
        
      }
      & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .25rem;
        padding: .5rem;
        & input {
          width: 4rem;
          height: 3rem;
          text-align: center;
          border: 1px solid var(--c-gris-1);
          &:focus {
            outline: none;
          }          
        }
        & button {
          width: 15rem;
          height: 3rem;
          background-color: var(--c-rojo-boton);
          color: var(--c-blanco);
          font-weight: 500;
          border: 1px solid var(--c-rojo-boton);
          border-radius: .25rem;
        }
      }
    }
    
        
  }
}
/*...*/
.descripcion-productos-detalles {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

/*pago completado*/
#orden-completada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  & > button {
    border: none;
    text-decoration: underline;
    color: mediumorchid;
    background-color: #fff;
  }
}

.visto-bueno {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: relative;
  border-radius: 50%;
  background-color: green;
  margin-bottom: 1rem
}

.visto-bueno::before,
.visto-bueno::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 0.8rem;
  background-color: white;
}

.visto-bueno::before {
  left: 2rem;
  transform: translate(0%, 220%) rotate(45deg);
}

.visto-bueno::after {
  right: 2rem;
  transform: translate(-47.4%,60%) rotate(-45deg);
}

.visto-bueno::after {
  width: 5rem;
  right: 0;
}

/*Perfil*/
.perfil {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  & > h3 {
    padding: 2rem 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > div {
      display: flex;
      gap: 1rem;
      & > label {
        width: 12.5rem;
        font-weight: 500;
      }
    }
    & > button:first-of-type {
      background-color: var(--c-rojo);
      border-radius: 1rem;
      padding: .5rem;
      border: none;
      color: var(--c-blanco-suave);
      font-weight: 500;
        &:hover {   
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05)
        }
      }
    
    & > button:nth-of-type(2) {
      background-color: var(--c-mainLow);
      border: none;
      border-radius: 1rem;
      padding: .5rem;
      color: var(--c-blanco-suave);
      font-weight: 500;
      :hover {   
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05)
      }
    }
  }
}

@media (max-width: 1150px) {
  #resumenCompra {
    width: 765px;
  }
}

@media (max-width: 1050px) {
  .selector {
    display: none;
  }

  
}

@media (max-width: 917px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(31.8%, 31.8%));
    
  }

  .detalles > div {
    & :first-of-type, & :nth-of-type(2){
      flex: none;
      flex-wrap: wrap;
    }
    
  }
}
@media (max-width: 809px) {
  .productos {
    
    grid-template-columns: repeat(auto-fit,minmax(48.6%, 1fr));
    
  }

  .detalles {
    
    display: flex;
    flex-direction: column;
    & > div:nth-of-type(2) {
      margin: 0 3rem
    }
  
  }
}

@media (max-width: 750px) {
  #nav {
    display: none
  }
}