/*estilos generales*/



#linkAdministrador {
  padding: 1rem;
}

#administrador {
  background-color: var(--c-negro);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 100vh;
  height: 100%;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

  &>a {
    color: var(--c-gris-1)
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#todo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
}

.routes-container {
  max-width: 1536px;
  width: 100%;
  position: relative;
}

#loading {
  width: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  height: 100vh;
}

#no-match {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  &>div {
    padding: 2rem;
    font-size: 1.25rem;

    &>a {
      text-decoration: underline;
      color: violet
    }
  }
}

ul {
  padding: 0;
}

p {
  padding: 0;
  margin: 0
}

.reactive {
  pointer-events: none;
  color: var(--c-dorado-fino)
}

.reactive-multiple {
  color: var(--c-dorado-fino);
}

.is-active {
  pointer-events: none;
}

/*Carrito--todo lo de abajo*/

/*secuenciaCompra*/

#secuenciaCompra {
  padding: 1rem 0;
  background-color: var(--c-blanco-suave);
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: flex-start;
  color: var(--c-gris-1);
  font-size: 2rem;
}

.hrCompra {
  height: 0.175rem;
  width: 150px;
  border: 0;
  background-color: var(--c-gris-1);
}

.pasoCompra.barraSelected {
  opacity: 1;
  color: var(--c-rojo-boton);

  .hrCompra {
    color: var(--c-blanco-suave);
    background-color: red;
    opacity: 1;
  }

  .compraDescripcion {
    color: var(--c-mainHigh);
    font-weight: 500;
  }

}

.pasoCompra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compraDescripcion {
  width: 150px;
  font-size: 1rem;

}

/*Carrito-detalles*/

#encabezadoCarrito {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  font-size: 1rem;
  overflow: hidden;

  &>div:first-of-type {
    margin-left: 2rem;
    width: 7.5rem;
    height: 3rem;
  }

  &>div:first-of-type>a>svg {
    height: 5rem;
    width: 7.5rem;
    background-color: transparent;

    &>rect {
      fill: transparent;
    }
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;

    & h5 {
      margin: 0
    }
  }
}

#regresarComprar {
  padding: 0 2.5rem;
  background-color: var(--c-mainHigh);
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: var(--c-blanco);
    font-weight: 900;

    & svg {
      font-size: 2rem;

    }
  }
}

#carrito {
  background-color: var(--c-blanco-suave);
  width: 100%;
  height: auto;
  min-height: 100vh;
}

#carritoVacio {
  background-color: var(--c-blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
  width: 40rem;
}

.buttonCarrito {
  margin: 2rem auto;
  padding: .5rem 4rem;
  background-color: var(--c-rojo-boton);
  color: var(--c-blanco);
  border-radius: .2rem;

  &:hover {
    text-decoration: none;
    background-color: var(--c-dorado);
  }
}

#paypalButton {
  margin: 2rem auto;
  padding: .5rem 4rem;
  cursor: pointer;
  background-color: var(--c-Paypal);
  color: var(--c-blanco);
  border-radius: .2rem;
}

#paypalButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05)
}

.imagenProductoCarrito {
  height: 150px;
  object-fit: contain;

}

.productoCarrito>td:first-of-type {
  font-weight: 500;
  width: 300px;

  & p:nth-of-type(2) {
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

#contenedorProductosCarrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 1.5rem;

  & th {
    text-align: center;
    background-color: var(--c-blanco);
    padding: 1rem 3rem;
  }

  & td {
    background-color: var(--c-blanco);
    text-align: center;
    padding: 0.5rem 3rem;
    border-bottom: 1px solid var(--c-blanco-suave)
  }
}

.productoCarrito>td>button {
  border: none;
  background-color: var(--c-blanco);
  text-decoration: underline;
}

.precioProductoCarrito {
  color: var(--c-rojo-boton);
  font-weight: 500;
}

.cantidadProductoCarrito {
  color: var(--c-mainHigh);
  font-weight: 500;
}

#resumenCompra {
  background-color: var(--c-blanco);
  padding: 1rem;
  color: var(--c-mainHigh);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

#resumenCompra>#resumenTitulo {
  border-top: solid 1px var(--c-mainHigh);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  width: 100%
}

#resumenCompra>#total {
  border-bottom: solid 1px var(--c-mainHigh);
  font-weight: 100;
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#totalCompra {
  color: var(--c-mainHigh);
  font-size: 1.2rem;
  font-weight: 500;

}

/*Contacto*/
#contactoContenedor {
  background-color: var(--c-blanco-suave);
  width: 100%;
}

#contacto {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--family-like);

  &>h4 {
    font-weight: 1000;
  }
}

.contacto1 {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.contactoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  & svg {
    font-size: 1.5rem;
  }
}

#metodosPago {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: var(--c-blanco-suave);
}

.hr {
  background-image: linear-gradient(to right, transparent, var(--c-gris-1), transparent);
  height: 0.175rem;
  border: 0;
}

.divHr {
  background-color: var(--c-blanco-suave);
  width: 100%;
}

/*puchi puchi*/
footer {
  background-color: var(--c-mainHigh);
  width: 100%;
  padding: 1rem 0;
  color: var(--c-blanco);
  text-align: center;
  font-family: var(--family-like);
}

/*Modal mi cuenta - before login*/

.modelo {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modelo-content {
  background-color: var(--c-blanco);
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &>div:nth-of-type(1) {
    &>span {
      cursor: pointer;

      &>a {
        color: purple;
        font-weight: 500;
        text-decoration: underline;

        &:hover {
          color: black
        }
      }
    }
  }
}

.close {
  color: var(--c-mainHigh);
  float: right;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  padding-right: .5rem;
  right: 0;
  top: 0;
}

.close:hover,
.close:focus {
  color: var(--c-mainHigh);
  text-decoration: none;
  cursor: pointer;
}

/*Componente - Login*/

#login {
  width: 300px;
}

#login,
#loginEmail,
#loginContrasena {
  display: flex;
  flex-direction: column;
}

#loginEmail>input,
#loginContrasena>input {
  border-radius: .2rem;
  border: 1px solid var(--c-gris-1);
  padding: .2rem
}

#loginContrasena {
  position: relative;

  &>div {
    position: absolute;
    right: 5px;
    bottom: 2.5px;

    &>svg {
      height: 25px;
      width: 25px;
      color: var(--c-morado-claro);
    }
  }
}

#login>button {
  margin: 1rem auto;
  padding: .5rem 2rem;
  border-radius: .2rem;
  background-color: var(--c-morado-claro);
  color: var(--c-blanco);
  font-weight: 500;
  border: none;
  width: 100%;

}

/*pago completado*/
#orden-completada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &>button {
    border: none;
    text-decoration: underline;
    color: mediumorchid;
    background-color: #fff;
  }
}

.visto-bueno {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  position: relative;
  border-radius: 50%;
  background-color: green;
  margin-bottom: 1rem
}

.visto-bueno::before,
.visto-bueno::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 0.8rem;
  background-color: white;
}

.visto-bueno::before {
  left: 2rem;
  transform: translate(0%, 220%) rotate(45deg);
}

.visto-bueno::after {
  right: 2rem;
  transform: translate(-47.4%, 60%) rotate(-45deg);
}

.visto-bueno::after {
  width: 5rem;
  right: 0;
}

/*Perfil*/



@media (max-width: 1150px) {
  #resumenCompra {
    width: 765px;
  }
}

@media (max-width: 917px) {
  .detalles>div {

    & :first-of-type,
    & :nth-of-type(2) {
      flex: none;
      flex-wrap: wrap;
    }

  }
}

@media (max-width: 809px) {

  .detalles {

    display: flex;
    flex-direction: column;

    &>div:nth-of-type(2) {
      margin: 0 3rem;

    }

  }
}